/*Index Page*/
/*The Top Most Banner With Health Score And Date*/
#health_banner{
  justify-content: space-between;
  padding: 15px 25px
}

#profilers{
  margin-right: 1.5vw;
}

#header_left{
  gap: 2vw;
}

.pop-option{
   text-decoration: none;
   color: black;
   display: block;
   padding: 8px 12px;
}

#prof:hover,
#chg_pass:hover,
#log:hover{
   background-color: rgba(75, 74, 74, 0.075);
   cursor: pointer;
}

/*Main div Stylling*/
#profiler,
#os-detailer,
#pinger{
   height: 42vh;
   border:gray solid 1px;
   width: 33vw;
   border-radius: 6px; 
}

#section2{
   border:gray solid 1px;
   border-radius: 6px;
   width: 98vw;
   margin-left: 1vw;
   height: 36vh;
   margin-top: 1.3vh;
}

/*Script Loaded Data Style*/
#profiler, span,
#os-detailer, span,
#pinger, span{
   margin-left: 12px;
}

/*Heading For Each Component*/
#card_headers{ 
   border: none;
   border-bottom: gray solid 1px;
   border-right: gray solid 1px;
   border-radius: 6px;
   width: fit-content;
   padding: 5px 10px;
   color: rgb(0, 85, 0);
}

/*PC Scraper Logo*/
#win_logo,
#brand-logo,
#isp_logo{
   height: 19vh;
   width: 12vw;
   object-fit: cover;
   margin-bottom: 8px;
}

/* Chart Styles */
.chart{
   width: 18vw; 
   height: 20vh;
   padding: 10px;
   font-weight: bold;
}

.detailers{
   margin-left: 2vw;
   margin-top: 0.4vh;
}

.info_block{
   padding: 10px;
   margin-right:1vw;
}

#sub-head-section2{
   border: gray solid 2px;
   border-top-left-radius: 8px;
   border-bottom-right-radius: 8px;
   width: fit-content;
   padding: 8px 12px;
   color: rgb(0, 85, 0);
}

/* Pinger And Recommendation Engine Styles */
#pinger_roled,
#recommendation{
   border: gray solid 1px;
   border-radius: 6px;
   width: 48.7vw;
   height: 36vh;
   margin-top: 1.3vh;
}

#pinger_roled{
   margin-left: 1vw;
}

#section3{
   gap: 0.5vw;
}

/* Footer */
#brand {
   margin-left: 24px;
   left: 0;           
   width: 100%;      
   background-color: white;
   z-index: 1000; 
   font-size: 25px;
   font-weight: bold;
}


/*Login Page*/
#brand_panel{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:end; 
   height: 40vh;
}

#login_panel{
   margin-top: 4vh;
   border: green solid 4px;
   height: 35vh;
   width: 20vw;
   border-radius: 19px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2vh;
   background-color: rgba(71, 158, 71, 0.815);
}

#login_panel input{
   width: 56%;
   padding: 10px;
   border: gray solid 1px;
   border: green solid 4px;
   border-radius: 8px;
}

#login_panel a{
   align-self:flex-start;
   margin-left: 21%;
   text-decoration: none;
   color: black;
   margin-bottom: -1vh;
   margin-top: -1vh;
}

#log_btn{
   width: 60%;
   padding: 10px;
   border: green solid 4px;
   border-radius: 8px;
   font-weight: bold;
}

#login_panel a:hover{
   cursor: pointer;
}

#login_panel input::placeholder{
   color: rgba(71, 158, 71, 0.815);
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
   font-size: larger;
}

#company-logo{
  margin-top: 1vh;
}

.uname{
  margin-top: 2vh; 
}

/*Registration Page*/
#reg_brand_panel{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:end; 
   height: 28vh;
}

#register_panel{
   margin-top: 4vh;
   border: green solid 4px;
   height: 60vh;
   width: 20vw;
   border-radius: 19px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2vh;
   background-color: rgba(71, 158, 71, 0.815);
}

#register_panel input{
   width: 56%;
   padding: 10px;
   border: gray solid 1px;
   border: green solid 4px;
   border-radius: 8px;
}

#reg_btn{
   width: 60%;
   padding: 10px;
   border: green solid 4px;
   border-radius: 8px;
   font-weight: bold;
}

#register_panel input::placeholder{
   color: rgba(71, 158, 71, 0.815);
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
   font-size: larger;
}

.fname{
  margin-top: 2vh;  
}

/*Password Reset Page*/
#reset_btn{
   width: 60%;
   padding: 10px;
   border: green solid 4px;
   border-radius: 8px;
   font-weight: bold;
}

.pass{
   margin-top: 2vh;
}