/*The Top Most Banner With Health Score And Date*/
#health_banner{
  justify-content: space-between;
  padding: 15px 25px
}

/*Main div Stylling*/
#profiler,
#os-detailer,
#pinger{
   height: 42vh;
   border:gray solid 1px;
   width: 33vw;
   border-radius: 6px; 
}

#section2{
   border:gray solid 1px;
   border-radius: 6px;
   width: 98vw;
   margin-left: 1vw;
   height: 36vh;
   margin-top: 1.3vh;
}

/*Script Loaded Data Style*/
#profiler, span,
#os-detailer, span,
#pinger, span{
   margin-left: 12px;
}

/*Heading For Each Component*/
#card_headers{ 
   border: none;
   border-bottom: gray solid 1px;
   border-right: gray solid 1px;
   border-radius: 6px;
   width: fit-content;
   padding: 5px 10px;
   color: rgb(0, 85, 0);
}

/*PC Scraper Logo*/
#win_logo,
#brand-logo,
#isp_logo{
   height: 19vh;
   width: 12vw;
   object-fit: cover;
   margin-bottom: 8px;
}
